:host {
    display: flex;
    flex-direction: column;
}

.user-picture {
    display: flex;
    justify-content: center;
}

.data-display {
    display: flex;
    justify-content: center;
}

.icons-bar {
    display: flex;
    column-gap: 3rem;
    justify-content: center;
}